/***** FONT *****/
.font-raleway, #main-menu.font-raleway .navbar .nav li a, .title{font-family: 'Raleway',Arial,Helvetica,sans-serif !important;}
.font-open-sans, #main-menu.font-open-sans .navbar .nav li a, .title{font-family: 'Open Sans',Arial,Helvetica,sans-serif !important;}
.font-bold { font-weight:bold !important;}
.font-light { font-weight:100 !important;}
.font-norm { font-weight:normal !important;}
.font-black, .font-black a{color:#323336 !important;}
.font-white, .font-white a{color:#fff !important;}

/***** MISE EN PAGE *****/
.fond-gris {background-color:#eee;}
.fond-gris-clair {background-color:#f5f5f5;}
.mt-20 {margin-top:20px;}
.mb-0 {margin-bottom:0 !important;}
.mb-15 {margin-bottom:15px !important;}
.mb-50 {margin-bottom:50px !important;}
.mb-60 {margin-bottom:60px !important;}
.mb-70 {margin-bottom:70px !important;}
.p-40 {padding:40px;}
.p-80-cont{ padding-top:80px; padding-bottom:80px;}
.pt-20 {padding-top:20px;}
.p-100-cont{ padding-top:100px; padding-bottom:100px;}
.pt-160-b-120-cont{ padding-top:160px; padding-bottom:120px;}
.norm-16-wide{
	font-family: 'Poppins',Arial,Helvetica,sans-serif;
	font-size: 16px;
	line-height: 18px;
	font-weight: 300;
  letter-spacing:3px;
  color:#323336;
}
.light-72-wide{
	font-family: 'Poppins',Arial,Helvetica,sans-serif;
	font-size: 72px;
	line-height: 72px;
	font-weight: 300;
  letter-spacing:15px;
  color:#323336;
}
.slash-divider-10{
  margin-right:10px;
  margin-left:10px;
}
a {
    color: #323336;
    outline: none !important;
    text-decoration: none;
    transition: all .3s ease 0s;
}
.page-section  {
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
}

/*****	#HEADER	*****/
.header-black-bg {
  position:absolute;
  top:0;
  width:100%;
  height:80px;
  background: #6B6B6B;
  z-index:-1;
}

.container-m-30 {
	padding-right: 30px;
	padding-left: 30px;
	margin-right: auto;
	margin-left: auto;
	position:relative;
	width:100%;
}
.header {
    position: fixed;
    left: 0;
    transition: background .3s ease, height .4s ease;
    width: 100%;
    z-index: 29;
}

.header-wrapper {
    position: relative;
    width: 100%;
    transition: height .3s ease 0s, background .3s ease 0s;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 29;
    background-color: white;
}

.header .container-m-30 {
    position: relative;
}

/***** LOGO *****/
.logo-row {
    position: relative;
    width: 142px;
    z-index: 1;
}

.logo {
    display: block;
    padding: 26px 0 25px 0;
    transition: all .4s ease 0s;
}

.logo-img {
    height: 42px;
}

/***** MENU *****/
.my-navbar {
    float: right;
    margin-top: -70px;
}

/*****	IMAGE	*****/
.image-fullscreen {
  background-position: 50% 0px;
  background-size:cover;
  width: 100%;
  display: block;	
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  background-repeat: no-repeat;
}

.image-container{
  display: table;
  height:600px;
}
.image-container-milieu {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

/***** MODAL *****/
.modal-header h3 {
	color: #333;
	text-transform: none;
}
.modal-dialog {
  z-index:1050;
}
.modal-close{
  position:absolute;
  top: 15px;
  right: 15px;
  opacity:.55;
  font-size:28px;
  text-shadow:none !important;
}
.modal-close:hover{
  opacity:1 !important;
}
@media (min-width: 768px) {
  .modal-md {width: 760px;}
}

/***** SECTION - RESUME *****/
.resume-titre-container h3 {
  margin: 0;
  margin-bottom: 10px;
  font-family: 'Poppins',Arial, Helvetica, sans-serif;
  color: #323336;
  font-weight: normal;
  font-size: 18px;
  text-align:center;
}

.resume-icone {
  margin-bottom: 8px;
  color: #323336;
  font-size: 40px;
  line-height:40px;
  text-align:center;
}

/***** SECTION - DESCRIPTION *****/
.description-texte-container h1 {
  margin-top: 0px;
  margin-bottom: 40px;
}

.description-image-container {
  overflow: hidden;
  position: absolute;
  height: 100%;
  padding: 0;
  top: 0; 
}

.description-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  background-size: cover;
  z-index: 0;
  width: 100%;
  display: block;	
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
}

/***** CUSTOM - BOUTON *****/
.my-btn {
	background-color:transparent;
	border-radius:28px;
	border:2px solid #111111;
	display:inline-block;
	cursor:pointer;
	color:#111111;
	font-size:14px;
	padding:16px 31px;
	text-decoration:none;
}
.my-btn:hover {
	background-color:transparent;
    text-decoration:none;
    border:2px solid #F5F5F5;
    color:#F5F5F5;
}
.my-btn:active {
	position:relative;
	top:1px;
    text-decoration:none;
}

/***** CUSTOM - BOITE *****/
.boite {
  background: #F5F5F5;
  border: 1px solid black;
  border-radius: 30px;
  padding: 35px;
  box-shadow: 5px 5px 10px grey;
}

/***** SECTION - CONTACT *****/
.contact {
  position: relative;
  padding-left: 65px;
}

.contact-texte  {
  padding:16px 0px 18px 0;
}

.contact-icone {
  position: absolute;
  top: 25px;
  left: 0;
  color: #6b6d6f;
  font-size: 35px;
}

/***** FOOTER (WAGON UI) *****/
.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}